*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(240, 241, 246);
}
.panels{
    display: flex;
    gap: 10px;
    position: relative;
   

}
.right-panel{
    width: 20%;
    height: 100vh;
    overflow-y: scroll;
    background-color:#fff;
}
.right-panel::-webkit-scrollbar{
    display: none;
}
.right-panel-container{
    width: fit-content;
    
    margin: 0 auto;
    margin-top: 30px;

}
.right-panel-icon{
    
    margin-left: 10px;
   
   
}
.right-panel-container img{
 /* border-radius: 360px; */
 margin-left: 25px;
 width: 100px;
 height: fit-content;
}
.left-panel-name{
    color: #000;
    font-size:20px;
}
.info{
    display: flex;
    margin-top: 10px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}
.info-l{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 5px;
    background-color: rgb(255, 180, 0);
}

.right-panel-icon i{
    margin-top: 10px;
    
    padding: 5px 20px;
    margin-left:5px ;
    border-radius: 30px;
    background-color:rgb(255, 180, 0) ;
}



.left-panel{
    width: 5%;
    height: 100vh;
    background-color:#fff;

}

/* middle panel start here */
.middle-panel{
    overflow-y: scroll;
    width: 75%;
    height: 100vh;
    /* background-color: rgb(255, 123, 0); */

}
.about{
    width: 90%;
    padding: 10px 20px;
    display: flex;
    margin: 0 auto;
   gap: 20px;
   align-items: center;
    background-color: #fff;
    
}
.middle-panel::-webkit-scrollbar{
    display: none;
}
.text{
    width: 50%;
    margin-left: 20px;
}
.text p{
    line-height: 30px;
}
.text h1{
    font-size: 2rem;
}
.myservice{
    width: 300px;
    margin: 30px auto;
   text-align: center;
}
.myservice h1{
    font-size: 50px;
}
.myservice-flex{
    width: fit-content;
    margin: 0 auto;
    display: flex;
    /* background-color: blue; */
    flex-wrap: wrap;
    gap: 30px;
}
.myservice-item{
    width:30% ;
    padding: 10px 20px;
    background-color: #fff;
}
.myservice-container{
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}


.education-flex{
    align-content: center;
    background-color: #fff;
    display: flex;
    list-style: none;
  
}

.education-flex li{
    width: 40%;
    margin-left: 20px;
    margin-top: 30px;
}

.education-wraper{
    background-color: #fff;
    margin: 10px 20px;
}
.open{
    display: none;
}
.open-div{
    display: block;
}
.message{
    display: flex;
    margin: 10px 40px;
}
.message form{
    width: 50%;
    padding: 10px 40px;
    background-color: #fff;
}
.message label{
    font-size: 20px;

    margin:20px 5px;
}
.message textarea{
    width: 100%;
    margin-top: 10px;
}

.message input{
    padding: 20px 20px;
    width: 100%;
   
    background-color: rgb(240, 241, 246);
}
.map{
    margin: 30px auto;
   width: fit-content;
   text-align: center;
   padding: 20px 10px;
}
.map i{
    width: 900px;
}
.contact-me{
    background-color: #fff;
    margin: 20px 20px;
    height: fit-content;
}
.contact-me h1{
    width: fit-content;
    margin: 20px auto;
}

.contact-me input{
    border: none;
    background-color: rgb(240, 241, 246);
    padding: 20px 10px;
    /* margin-top: 20px; */
    width: 500px;
    font-size: 20px;
   
}
.contact-me textarea{
    width: 500px;
    border: none;
    display: block;
    background-color: rgb(240, 241, 246);
}
.contact-me form{
    width: fit-content;
    margin: 0 auto;
}
.contact-me h4{
    margin-bottom: 10px;
    color: rgb(123, 123, 123);
    font-size: 20px;
   

}
.contact-me button{
    margin-top: 20px;
padding: 20px 10px;
width: 300px;
font-size: 20px;
border: none;
background-color: rgb(255, 180, 0);
border-radius: 10px;
cursor: pointer;
}




@media screen and (max-width:1000px) {
    .panels{
        display: flex;
        flex-direction: column;
    }

    .right-panel{
        width: 100%;
    }
    .right-panel-icon{
        margin: 0 auto;
       
        width: fit-content;
       
    }
    .middle-panel{
        width: 100%;
    }
    .myservice-flex{
        display: flex;
        flex-direction: column;
    }
    .myservice-item{width: 90%;
        margin: 0 auto;
    }
    .about{
        width: 100%;
        flex-direction: column;
        align-items: normal;
    }
    .about img{
        display: none;
    }
    .text{
        width: 100%;
    }

    /* .middle-panel{
        overflow-y: unset;
    } */

   
    .open{
        /* position: fixed;
        top: 0; */
        display: block;
        outline: none;
        border: none;
        margin: 20px 10px;
    }

   
.open-div{
  display: none;
  height: 0px;
  -webkit-transition: height 1s;
  -moz-transition: height 1s;
  -o-transition: height 1s;
  transition: all 1s;
 
  /* transition: 1s; */
   
}

/* .open:hover ~.open-div{
    display: block;
    height: fit-content;
        
} */
.open-div:hover{
    height: 0px;
}
.right-panel{
    height: fit-content;
    /* position: sticky;
    top: 0; */
}

body::-webkit-scrollbar{
    display: none;
}


.middle-panel{
    height: fit-content;
}
/* .left-panel img{
    width: 100px;
} */

.left-panel{
    position: fixed;
    bottom: 0;
    margin-top: 20px;
   background-color:transparent;
    width: 100%;
    height: 40px;
}


.map{display: none;}

.contact-me input{
    width: 300px;
}
.contact-me  textarea{
    width: 300px;

}
   
}